PORT=3000
MONGO_URI=
JWT_SECRET=

GOOGLE_CLIENT_ID=your_google_client_id_here


RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

SMTP_EMAIL=
SMTP_PASS=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Firebase Admin for Seller Panel
SELLER_FIREBASE_PROJECT_ID=

# Seller JWT (recommended for security, separate auth namespace!)
SELLER_JWT_SECRET=
VITE_BACKEND_API_URL=

#admin

ADMIN_JWT_SECRET=
SENDGRID_API_KEY=